
.neptune-icon {
  background-image: url('../../common/assets/logo.svg') !important;
  background-size: 15px !important;
  background-position: 2px center !important;
  background-repeat: no-repeat !important;
}

.status-icon-green {
  color: green;
}

