.n-toolbar-button {
  /**
    We use important in this file to override strong cascades provided by lab css.
  */

  min-width: 27px !important;

  &__icon {
    display: inline !important;
  }

  &--logo {
    background-image: url('../../common/assets/logo.svg') !important;
    background-size: 15px !important;
    background-position: 6px center !important;
    background-repeat: no-repeat !important;
    padding-left: 23px !important;
  }
}
