button.n-ConfigureButton,
button.n-ConfigureButton:enabled:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAN5JREFUKJHF0K9Lw0EcxvGXc07ZEJTJBIOrBothJsHmLAOLMLQJ/lNGu0E2ozKDJoMIgqIOy0wiIiZ/MIOfLxzD7B74cHfvu+eezx3DUg4HOEMx4WM4xgXGBw1QxxIm0Ej2N1CJy9ZT40iMe3jFE5axFXwfN/jCAnYGW73GJlbQS/g91rCKh7/e+IJqtPSJOUyjjxlM4hvlqMt8GOfxHvMr1GLdxXPw2+B9TI0G/EjSFyOljDe0gtf8ft5sdv4I7cTYwGMkNBO+jbv4j104jMqUwzlOIyFTASfooOTf9QMT5SpplgZyIQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 10px 6px;
}

.n-ConfigureButton-icon {
  min-width: 22px;
  justify-content: center;
}

button.n-ConfigureButton--success {
  color: #77c63e;
}

button.n-ConfigureButton--failed {
  color: #c60002;
}

button.n-ConfigureButton--failed:enabled,
button.n-ConfigureButton--loading:enabled,
button.n-ConfigureButton--success:enabled {
  background-image: none;
}
