.n-Button-Wrapper {
  position: relative;
}

button.n-ConfigureButton {

}

button.n-ConfigureButton .jp-ToolbarButtonComponent-label {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAABHNCSVQICAgIfAhkiAAAAN5JREFUKJHF0K9Lw0EcxvGXc07ZEJTJBIOrBothJsHmLAOLMLQJ/lNGu0E2ozKDJoMIgqIOy0wiIiZ/MIOfLxzD7B74cHfvu+eezx3DUg4HOEMx4WM4xgXGBw1QxxIm0Ej2N1CJy9ZT40iMe3jFE5axFXwfN/jCAnYGW73GJlbQS/g91rCKh7/e+IJqtPSJOUyjjxlM4hvlqMt8GOfxHvMr1GLdxXPw2+B9TI0G/EjSFyOljDe0gtf8ft5sdv4I7cTYwGMkNBO+jbv4j104jMqUwzlOIyFTASfooOTf9QMT5SpplgZyIQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 1px 1px;
  padding-left: 18px;
}

button.n-ConfigureButton--success .n-ConfigureButton-icon {
  color: #77c63e;
}
button.n-ConfigureButton--failed .n-ConfigureButton-icon {
  color: #c60002;
}
