button.n-UploadButton--success {
  color: #77c63e;
}

button.n-UploadButton--failed {
  color: #c60002;
}

.n-UploadButton:enabled {
  cursor: pointer;
}

.n-UploadDialog {
  display: flex;
  flex-direction: column;
}

.n-UploadDialog__note {
  font-size: 18px;
  margin-bottom: 32px;
}

label.n-UploadDialog__option-label {
  font-size: 16px;
  margin-bottom: 24px;
}

input.n-UploadDialog__option {
  height: auto;
  appearance: radio;
  -webkit-appearance: radio;
  -moz-appearance: radio;
}

.n-upload-notice {
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  width: 400px;
  padding: 0 4px;
}

.jp-Toolbar,
.jp-Toolbar-item {
  overflow: visible;
}