.toolbar-button {
  height: 24px;

  &--icon {
    background-image: url('../../common/assets/logo.svg') !important;
    background-size: 15px !important;
    background-position: 8px center !important;
    background-repeat: no-repeat !important;
    padding-left: 25px !important;

    i {
      display: none;
    }
  }
}
